:root {
  --main-color: #D32E11;
  --hover-color: #a31900;
  --text-color: #1e1e1e;
  --bg-color: #ffffff;
}


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}


header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #f6f6f6de;
  border-bottom: 1px solid #ddd;
}

.navigatorLogo {
  height: auto;
  max-width: 180px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  color: black;
  font-weight: 300;
  text-decoration: none;
}

nav a:hover {
  color: var(--main-color);
  border-bottom: 1.5px solid var(--main-color);
  transition: 0.3s;
}


.hero {
  position: relative;
  background-image: url('./assets/mecgrup.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero .content {
  position: relative;
  z-index: 2;
}


.hero h1 {
  font-size: 50px;
  margin: 0;
}

.highlight {
  color: #D32E11;
  font-weight: bold;
}

.motto {
  margin: 20px 0 40px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

/* Butonlar */
.HomePage_buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

button {
  padding: 12px 30px;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

button.red {
  background: linear-gradient(to right, #d32e11, #a31900);
  color: white;
}

button.red:hover {
  background: linear-gradient(to right, #a31900, #7a0e00);
}

.normalContent {
  background-color: var(--bg-color);
  padding: 60px 20px;
  color: var(--text-color);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main h1, .motto, .HomePage_buttons {
  animation: fadeInUp 1s ease forwards;
}
